.el-grapho-box-zoom-component {
  position: fixed;
  border: 1px solid rgb(17,159,224);
  background-color: rgba(17,159,224, 0.1);
  //border: 1px solid #888;
  //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);

  pointer-events: none;
}