.el-grapho-controls {
  position: absolute;
  right: 0;
  top: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  button {
    background: white;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 5px;
  }
}

.el-grapho-wrapper:hover .el-grapho-controls {
  opacity: 1;
}