@import 'components/Tooltip/tooltip.scss';
@import 'components/Controls/controls.scss';
@import 'components/Count/count.scss';
@import 'components/BoxZoom/boxZoom.scss';
@import 'components/Loading/loading.scss';

.el-grapho-wrapper {
  display: inline-block;
  position: relative;
  background-color: white;
  overflow: hidden;

  &.el-grapho-select-interaction-mode {
    cursor: default;
  }

  &.el-grapho-pan-interaction-mode {
    cursor: move;
  }

  &.el-grapho-box-zoom-interaction-mode {
    cursor: zoom-in;
  }
}