.el-grapho-tooltip {
  position: fixed;
  background-color: white;
  pointer-events: none;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-family: verdana;
  font-size: 12px;
  user-select: none;
}